
.container{
  overflow-y: scroll;
  height: 300px;
  width: 100vw;
  
}

.item{
  display: flex;
  align-items: start;
  background-color: blanchedalmond;
  color:  black;
  padding-left: 15px;
  border: solid 1px gray ;
}